*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.5;
    background: url('indexbkgd.png');
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    height: 100%;
}

img{ 
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: whitesmoke;
    height: 100%;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}


.navbar-links a{
    color: whitesmoke;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    
    
}

.navbar-links a:hover{
    border-bottom: 2px whitesmoke solid;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;

}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 2px;
    }

    .navbar-links.active {
        display: flex;
    }
}


.site-title{
    font-size: 30px;
    font-family: Verdana, Geneva, sans-serif;;
    font-weight: 300;
    line-height: 1.2;
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}

.login{
    height: 500px;
    width: 800px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .4)
}


form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: whitesmoke;
    
}

.login h1{
    font-size: 18px;
    margin: 40px;
    color: #333;
}

input {
    padding: 12px;
    width: 35%;
    margin: 15px;
    border: 1px solid #333;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .4)
}

#submit{
    padding: 12px 30px;
    width: 25%;
    margin-top: 30px;
    background-color: #333;
    color: whitesmoke;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

#submit:hover{
    cursor: pointer;
    background-color: blue;
}

.login a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.login a:hover{
    cursor: pointer;
    color: blue;
}

.login p{
    color: #333;
}